{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        {% for category in categories %}
            <div class="col-md-3">
                <h2>{{ category.name }}<span class="badge">{{ category.tasks | length }}</span></h2>
                {% for task in category.tasks %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div><a href="{{ path('app_task_view',{'id': task.id}) }}">{{ task.name }}</a></div>
                            <p>
                            <div>{{ task.description }}</div>
                            <p>
                        </div>
                    </div>
                {% else %}
                    Aucune tâche pour cette catégorie.
                {% endfor %}
            </div>
        {% else %}
            Le planning est vide.
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}
