{% extends "::base.html.twig" %}


        {% block title 'Mise à jour de la tâche' %}


        {% block header %}
            <h1>Mise à jour de la tâche</h1>
        {% endblock %}

        {% block content %}
            {{ form_start(form, {'attr': {'class': 'form-horizontal','novalidate': 'novalidate'}}) }}
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.status) }}
            {{ form_row(form.category) }}
            {{ form_rest(form) }}
            <input type="submit" class="btn btn-primary" value="Envoyer">
            {{ form_end(form) }}

        {% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock %}